<div class="rounded-xl border-2 border-slate-300/10 p-8 w-full shadow-indigo-500/20 shadow-2xl">
  <h3 class="text-2xl text-slate-200 mb-2 font-bold">Track changes with ease</h3>
  <p class="text-1xl text-slate-200/40">Seamlessly traverse through the evolution of your project, granting you the power to roll back to earlier versions or boldly explore new branches in the vast galaxy of code.</p>
</div>

<div class="rounded-xl border-2 border-slate-300/10 p-8 w-full shadow-indigo-500/20 shadow-2xl">
  <h3 class="text-2xl text-slate-200 mb-2 font-bold">Go step by step</h3>
  <p class="text-1xl text-slate-200/40">Embark on your website creation journey armed with a to-do list, your trusty guide to turning aspirations into pixel-perfect reality.</p>
</div>

