---
import logo from "../assets/images/Logo.svg";
import { Image } from "astro:assets";
---

<div class="mx-auto justify-between bg-transparent px-8 py-6 items-start hidden md:flex">
  
  <Image src={ logo } alt="cosmik logo" />

  <ul class="flex gap-6 text-sm text-slate-100/60">
    <li>How It Works</li>
    <li>Add Ons</li>
    <li>Pricing</li>
    <li>Contact</li>
    <li class="text-emerald-500">Deals</li>
  </ul>

</div>